html, body {
  box-sizing: border-box;
  height: 100%;
  color: white;
}

.infoall {
  background-color: rgba(0,0,0,0.8);
  width: 85%;
  margin: auto;
  padding: 30px;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-family: 'Patua One', cursive;
  margin-top: 50px;
}

.container-fluid {
  padding-top: 100px;
  padding-bottom: 50px;
  min-height: 100%;
  background-image: url(back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

img.resize {
  border-radius: 20px;
}

.base {
  padding: 50px;
}

.name {
  color: #FA5732;
  font-weight: bolder;
  font-size: 32px;
}

.position {
  font-weight: bold;
}

.info {
  border-left: 6px solid #FA5732;
  padding: 50px;
}

.links {
  background-color: rgba(0,0,0,0.8);
  margin: auto;
  padding: 20px;
  text-align: center;
  font-size: 48px;
  width: 85%;
  border-radius: 20px;
}

a {
  color:white;
}

a:visited .fa {
  color: white;
}

a:hover .fa {
  color:#FA5732;
}

@media screen and (max-width:1199px) {
  .info {
    border-left: none;
    border-top: 6px solid #FA5732;
    padding: 50px;
  }
}
